<h1><%=@article.title%></h1>
<p><%=@article.content%></p>

<form method='POST' action='/articles/<%=@article.id%>'>
    <p>Title: <input name='title' type='text'></p>
    <p>Content: <input name='content' type='text'></p>
    <input type='submit' value='Submit'>
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    
</form>