<html>
    <body>
        <form method="POST" action="/articles">
            <p>Title of article: <input type="text" name="title"></p>
            <p>Content of article: <input type="text" name="content"></p><br>
            <input type="submit" name="submit">
        </form>
    </body>
</html>